---
email: rachels.communication@yahoo.fr
phone: 06 26 01 00 56
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">
  <title>{{ title }}</title>
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer src="https://kit.fontawesome.com/e9c0f4b86c.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/old.style.css">
  <link rel="icon" href="/assets/favicon.ico">
</head>
<body>
  
  {% include 'header.njk' %}
  <main>
    {{ content | safe }}  
  </main>  
  {% include 'footer.njk' %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>