<footer class="site-footer">
  <img src="../../assets/logo-white.svg" alt="logo" height="100px" class="footer-logo" />
  <p>{{ email }}</p>
  <p>{{ phone }}</p>
  <p>© 2022 Tous Droits Réservés.</p>
</footer>