<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="logo">
        <img src="../../assets/logo.svg" alt="logo" height="100px" />
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/poemes/">Poèmes</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC3kf-9geljo_xk-ZfGiJOcg" class="youtube">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/RachelsCommunication" class="facebook">
              <i class="fab fa-facebook"></i>
            </a>
          </li>          
        </ul>
      </nav>
    </div>
  </div>
</header>